<md-card id="character-table">
  <md-data-table-toolbar ng-show="!vm.selected.length && !vm.viewDeleted">
    <h2 class="md-title">Active Characters</h2>
    <div flex></div>
    <md-button class="md-icon-button md-button md-default-theme" aria-label="create character" ng-click="vm.showCreateCharacterDialog()">
      <md-icon md-font-icon="zmdi zmdi-plus" class="zmdi-hc-2x"></md-icon>
    </md-button>
    <md-button class="md-icon-button md-button md-default-theme" aria-label="restore character" ng-click="vm.toggleShowDeleted()">
      <md-icon md-font-icon="zmdi zmdi-time-restore" class="zmdi-hc-2x"></md-icon>
      {{vm.getDisabledCount()}}
    </md-button>
  </md-data-table-toolbar>
  
  <md-data-table-toolbar class="alternate" ng-show="vm.selected.length && !vm.viewDeleted">
    <h2 class="md-title">{{vm.selected.length}} {{vm.selected.length > 1 ? 'characters' : 'character'}} selected</h2>
    <div flex></div>
    <md-button class="md-icon-button md-button md-default-theme" aria-label="delete character" ng-click="vm.deleteSelected(vm.selected)">
      <md-icon md-font-icon="zmdi zmdi-delete" class="zmdi-hc-2x"></md-icon>
    </md-button>
  </md-data-table-toolbar>
  
  <md-data-table-toolbar class="alternate" ng-show="vm.viewDeleted">
    <h2 class="md-title">Restore {{vm.selected.length}} {{vm.selected.length > 1 ? 'Characters' : 'Character'}}</h2>
    <div flex></div>
    <md-button aria-label="restore character" ng-click="vm.toggleShowDeleted()">Cancel</md-button>
    <md-button class="md-primary" aria-label="restore character" ng-click="vm.restoreSelected(vm.selected)" ng-disabled="vm.selected.length == 0">Restore</md-button>
  </md-data-table-toolbar>
  
  <md-data-table-container>
    <table md-data-table md-row-select="vm.selected" md-progress="deferred">
      <thead md-order="order">
        <tr>
          <th String name="Name" order-by="Name"></th>
          <th Numeric name="Level" order-by="Level"></th>
          <th String name="Faction" order-by="Faction"></th>
          <th String name="Race" order-by="Race"></th>
          <th String name="Class" order-by="Class"></th>
        </tr>
      </thead>
      <tbody ng-switch="vm.viewDeleted">
        <tr ng-switch-when="false" md-auto-select ng-repeat="character in vm.characters | orderBy: order | filter: { IsDeleted:'false' }">
          <td>{{character.Name}}</td>
          <td>{{character.Level}}</td>
          <td>{{character.Faction}}</td>
          <td>{{character.Race}}</td>
          <td>{{character.Class}}</td>
        </tr>
        <tr ng-switch-when="true" md-auto-select ng-repeat="character in vm.characters | orderBy: order | filter: { IsDeleted:'true' }">
          <td>{{character.Name}}</td>
          <td>{{character.Level}}</td>
          <td>{{character.Faction}}</td>
          <td>{{character.Race}}</td>
          <td>{{character.Class}}</td>
        </tr>
      </tbody>
    </table>
  </md-data-table-container>
</md-card>